# -----------------------------------------------------------------------------------------
# .gitignore - ignore the following files and directories in the git respository
# -----------------------------------------------------------------------------------------
/archive/*
/log/*
